.Style1{

    color: yellow;
    size: 20px;
    font-family: Courier New;
    
    }

.Style2{

color: green;
size: 30px;
font-family: Times New Roman;

}

.Style3{

color: red;
size: 40px;
font-family: Verdana ;
    
}