.style1{

    color: aqua;
    size: 5px;

}

.style2{

    color: aquamarine;
    size: 10px;
    
}

.style3{

    color: bisque;
    size: 15px;
    
}

.style4{

    color: blue;
    size: 20px;
    
}

.style5{

    color: blueviolet;
    size: 25px;
    
}

.style6{

    color: brown;
    size: 30px;
    
}

.style7{

    color: cadetblue;
    size: 35px;
    
}

.style8{

    color: chartreuse;
    size: 40px;
    
}

.style9{

    color: chocolate;
    size: 45px;
    
}

.style10{ 

    color: cornflowerblue;
    size: 50px;
    
}

.style11{

    color: crimson;
    size: 55px;
    
}

.style12{
    
    color: darkblue;
    size: 60px;

}