body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 15px;
    font-family: Arial, sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    
  }
  
  .styled-table thead tr {
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #f3f3f3;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #007BFF;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #007BFF;
  }

  .container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow-x: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555;
}

/* Style for labels and inputs */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"],
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Estilo del campo de fecha */
input[type="date"] {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease-in-out;
  outline: none;
}

/* Cambia el borde y el fondo al pasar el ratón */
input[type="date"]:hover {
  border-color: #007BFF;
  background-color: #eaf4ff;
}

/* Cambia el estilo al hacer clic o al enfocar */
input[type="date"]:focus {
  border-color: #0056b3;
  background-color: #ffffff;
  box-shadow: 0 0 4px #007BFF;
}

/* Extra spacing for navigation */
.navigation {
    margin-top: 15px;
}

button {
    width: 100%;
    padding: 10px;
}